body {
	background: #fff9dc;
	font-family: 'Open Sans', sans-serif;
}

.container {
	display: grid;
	grid-template-columns: auto;
	justify-items: center;
	width: 800px;
	margin: 0 auto;
}

#app {
	display: grid;
	grid-template-columns: 380px 380px;
	height: 100vh;
	column-width: auto;
	color: #000;
	justify-content: center;
	grid-gap: 1em;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	padding: 40px 0px;
}

.title h1 {
	font-family: 'Proza Libre', sans-serif;
	font-size: 2em;
	font-weight: 800;
	display: grid;
	grid-template-columns: 420px;
	text-align: center;
}

hr {
	background-color: #cac6ae;
	border: none;
	height: 1px;
}

.entry-container {
	margin-top: 0;
}

.no-entries {
	text-align: center;
	color: #afab96;
	background-color: #f3eed1;
	padding: 20px;
	margin: 20px 0px;
	border-radius: 6px;
	font-size: 16px;
}

.entry {
	height: 250px;
	border-radius: 6px;
	visibility: hidden;
}

.entry-title h3 {
	font-family: 'Proza Libre', sans-serif;
	font-weight: 600;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 10px;
}

.zip-input {
	padding-bottom: 30px;
}

.entry p {
	font-family: 'Proza Libre', sans-serif;
	font-size: 18px;
	font-weight: 800;
	color: #535353;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
	display: block;
	padding: 0px 0px 10px 0px;
	font-family: 'Proza Libre', sans-serif;
}

input,
textarea {
	display: block;
	background: #fff;
	color: #000000;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid;
	border-radius: 6px;
	padding-left: 15px;
}

input {
	height: 50px;
	width: 320px;
}

textarea {
	height: 100px;
	width: 320px;
	padding: 15px;
}

button {
	width: 350px;
	height: 50px;
	margin: 20px 0px;
	background: #df541d;
	color: #fff;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	border: none;
	border-radius: 30px;
	box-shadow: 2px 4px 3px rgba(153, 153, 153, 0.5);
}
button:hover {
	background: #c24919;
}

h1 {
	font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
	/* Firefox, Chrome, Opera */
	color: #afafaf;
	font-family: 'Open Sans', sans-serif;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #afafaf;
	font-family: 'Open Sans', sans-serif;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #afafaf;
	font-family: 'Open Sans', sans-serif;
}
